
body{

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(215,42,42,1) 100%, rgba(255,177,0,1) 100%);
  height: 100%; 
  padding: 8px;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #111;
  transition:0.7s ease;
  color:red;
  border-radius: 10px;

}

.navigation-container {
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  color: white;
  margin-left: 20px;
  font-family: "Andale Mono", monospace;
  color:red;
  opacity: 80%;
  letter-spacing: 4px;
}
.slika{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.slika-container {
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: 2s;
}

.sek1{
  padding: 6px;
  opacity: 60%;
}
.pozadina{
    background: rgb(122,29,88);
    background: linear-gradient(90deg, rgba(122,29,88,1) 0%, rgba(235,86,86,1) 100%);
    opacity: 90%;
    padding:1% 5%; 
    border-radius:10px; 
    margin:10px 0px; 
    border:1px solid white;
    padding:30px; 
    text-align:justify; 
    line-height:30px;
    font-size:130%;
    /*position:relative;*/
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 2s;
}

@media screen and (max-width: 768px) {
  .pozadina {
    flex-direction: column;
  }
}

.brimstone{
  height: 700px;
  width: 500px;
  position: relative;
  top: 100px;
}
.levo{
  position:absolute;
  left: 180px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 2s;
   flex: 1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  border-top: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pozadina-valorant {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(215,42,42,1) 100%, rgba(255,177,0,1) 100%);
}


form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
  border-radius: 20px;
}

.main-container {
  margin: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #f1f1f1;
  transition: 2s;
}

.form-container {
  padding: 20px;
  background-color: #f1f1f1;
}

.form-container-top {
  padding: 20px;
  background-color: #f1f1f1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.form-container-bottom {
  padding: 20px;
  background-color: #f1f1f1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background: rgb(0,10,36);
  background: linear-gradient(90deg, rgba(0,10,36,1) 0%, rgba(42,169,215,1) 100%, rgba(0,255,113,0.4248074229691877) 100%);
  color: white;
  border: none;
  border-radius: 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
}
